.DS_Store

/.bundle
/vendor

log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/vendor
test/dummy/config/initializers/01_FB.rb
test/dummy/spec/factories/ish_models_factories.rb

*~
*trash
\#*
.#*

ishapi-0.1*gem

/config/initializers/koala.rb

.byebug_history
