
%html
  %body{ style: 'background: white' }
    - if @msg.part_html
      = raw( @msg.part_html )
    - elsif @msg.part_txt
      %pre
        = @msg.part_txt
    - else
      Neither part_html nor part_txt!