
.galleries-show {
  // border: 1px solid gray;

  width: 910px;
  margin: auto;

  padding: 3em 0;

  .photos-mini {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1em;
  }

  .photos-thumb {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1em;

    img {
      width: 100px;
    }
  }

  .photos-large {
    .item {
      background: #eee;
      border: 1px solid gray;

      margin: 1em 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin: 2em;
      }

    }
  }

}
