

%section.newsitems.newsitems--index

  .header
    %h3.title Newsitems

  .items
    - newsitems.each do |newsitem|
      .Card14
        - if newsitem.video
          [Video]
          = link_to newsitem.video.name, video_path( newsitem.video )
        - if newsitem.report
          [Report]
          = link_to newsitem.report.name, report_path( newsitem.report )

        = newsitem.name
        = raw newsitem.descr


