

%section.newsitems.newsitems--index

  .header
    %h3.title Newsitems

  .items
    - newsitems.each do |newsitem|
      .Card14
        - if newsitem.video
          [vid]
          = link_to newsitem.video.name, video_path( newsitem.video )
        - if newsitem.report
          [txt]
          = link_to newsitem.report.name, report_path( newsitem.report )
        - if newsitem.iframe_src
          = link_to newsitem.name, newsitem_path( newsitem )

        = raw newsitem.descr


